
$border-color: #ccc;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid $border-color;
    
}

body{
    background-color: #ccc;
}

